body {
 background-color: #EFF0F0;
}
h1 {
  font-size: 18px;
  line-height: 26px; /* 4px +12px + 4px */
}
h2 {
 font-family: monospace;
 color: #4A5968;
 font-size: 18px;
 display: block;
 margin: auto;
}

h3 {
 font-family: monospace;
 color: #4A5968;
 font-size: 18px;
}